language: cpp

compiler:
 - gcc

env:
 # We'll test two boards against a single library example, but you could add more combinations
 # https://github.com/arduino/Arduino/blob/master/build/shared/manpage.adoc
 - BOARD = uno
 - BOARD = mega

install:
 - wget http://downloads-02.arduino.cc/arduino-1.6.1-linux64.tar.xz
 - ls -alF
 - tar Jxf arduino-1.6.1-linux64.tar.xz
 - sudo mv arduino-1.6.1 /usr/local/share/arduino
 - git clone -b master https://github.com/scottdarch/Arturo.git
 - cd Arturo && sudo make install && cd ../
 - pwd
 - ano init --board-model $BOARD

script:
 - ano --help
 - cd blink && ano build
